<!DOCTYPE HTML>
<html
        xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{fragments/main}" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Spoty Shoe E-Commerce WebApp::Product</title>
</head>

<body>
<div class="page-wrapper" layout:fragment="content">

    <section>
        <!--Subsection: Login form-->
        <section id="subsection-login">
            <!--Subsection title-->
            <h4 class="mt-5">Product</h4>

            <!--Description-->
            <p>Add new Product</p>
            <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${success}">
                <span th:text="${success}">Holy guacamole!</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div class="alert alert-info alert-dismissible fade show" role="alert" th:if="${info}">
                <span th:text="${info}">Holy guacamole!</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${error}">
                <span th:text="${error}">Holy guacamole!</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <!--Section: Demo-->
            <section class="pb-4">
                <div class="bg-white border rounded-5">

                    <section class="w-100 p-4 d-flex justify-content-center pb-4">
                        <form class="row g-3 needs-validation" style="" th:action="@{/product/save}" th:object="${product}" enctype="multipart/form-data" method="post" novalidate>
                                <div class="col-md-4">
                                    <label for="validationCustom01" class="form-label">Product name</label>
                                    <input type="text" class="form-control" id="validationCustom01" value="" required th:field="*{name}">
                                </div>
                                <div class="col-md-4">
                                    <label for="validationCustom02" class="form-label">Product Number</label>
                                    <input type="text" class="form-control" id="validationCustom02" value="1000" required th:field="*{number}">
                                </div>
                                <div class="col-md-4">
                                    <label for="validationCustomUsername" class="form-label">Price</label>
                                    <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required th:field="*{price}">
                                </div>
                                <div class="col-md-3">
                                    <label for="validationCustom01" class="form-label">Color</label>
                                    <input type="text" class="form-control" id="validationColor" value="" required th:field="*{color}">
                                </div>
                                <div class="col-md-3">
                                    <label for="validationCustom02" class="form-label">Size</label>
                                    <input type="text" class="form-control" id="validationSize" value="1000" required th:field="*{size}">
                                </div>
                                <div class="col-md-3">
                                    <label for="validationBrand" class="form-label">Brand</label>
                                    <input type="text" class="form-control" id="validationBrand" aria-describedby="inputGroupPrepend" required th:field="*{brand}">
                                </div>
                                <div class="col-md-3">
                                    <label for="validationStock" class="form-label">StockLevel</label>
                                    <input type="number" class="form-control" id="validationStock" aria-describedby="inputGroupPrepend" required th:field="*{stockLevel}">
                                </div>
                                <div class="col-md-6">
                                    <label for="validationDescription" class="form-label">Description</label>
                                    <textarea class="form-control" id="validationDescription" rows="3"
                                              name="description"
                                              placeholder="Description" th:field="*{description}"
                                              required="required"></textarea>
                                </div>
                                <div class="col-md-3">
                                    <label for="validationCustom04" class="form-label">Category</label>
                                    <select class="form-select" id="validationCustom04" required th:field="*{categoryId}">
                                        <option th:each="category : ${categories}" th:value="${category.getId()}" th:text="${category.getName()}"></option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label for="validationCustom05" class="form-label">Photos</label>
                                    <input type="file" class="form-control" id="validationCustom05" required name="files" accept="image/png, image/jpeg" multiple>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-outline-primary btn-lg" type="submit">Save Product</button>
                                </div>
                        </form>
                    </section>

                </div>
            </section>

        </section>
    </section>
</div>


</body>
</html>