.py-5 {
    bottom: 0px;
}

body{margin-top:20px;}
.product-rating {
    line-height: 22px;
}
.product-rating i {
    color: #fc0;
    display: inline-block;
    margin-right: 2px;
    font-size: 14px;
}
@media screen and (max-width: 1199px) {
    .product-rating {
        margin-bottom: 5px;
        font-size: 15px;
    }
}
@media screen and (max-width: 767px) {
    .product-rating i {
        font-size: 13px;
    }
}
.text-secondary {
    color: #004975 !important;
}
.card-wrapper {
    position: relative;
    overflow: hidden;
}
.card-wrapper .card-img {
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-out;
}
.card-wrapper .card-img img {
    transition: all 0.3s ease-in-out;
    border-radius: 0.25rem;
    border-radius: 0.25rem;
}
.card-wrapper .card-body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    padding: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    transform: translateX(-100%);
    transition: 0.8s;
    z-index: 11;
}
.card-wrapper:before {
    content: "";
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    right: 100%;
    z-index: 9;
    transition: 0.8s;
    background: rgba(0, 186, 238, 0.82);
    border-radius: 0.25rem;
}
.card-wrapper:hover:before {
    right: 0;
}
.card-wrapper h3,
.card-wrapper p {
    color: #fff;
}
.card-wrapper .read-more {
    color: #fff;
}
.card-wrapper .read-more:after {
    color: #fff;
}
.card-wrapper:hover .card-body {
    visibility: visible;
    transform: translateX(0px);
}
.card-wrapper:hover .backgound-color {
    right: 0;
}
.ti-shopping-cart:before {
    content: "\e60d";
}
.mb-2-6, .my-2-6 {
    margin-bottom: 2.6rem;
}
.text-primary {
    color: #00baee !important;
}

.footer-04 {
    background: #272727;
    padding-bottom: 0; }
.footer-04 .border-top {
    border-color: #1a1a1a !important;
    background: #1a1a1a; }
.footer-04 .footer-heading {
    font-size: 13px;
    color: #fff;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px; }
.footer-04 .footer-heading .logo {
    letter-spacing: none;
    font-size: 16px;
    color: #fff;
    text-transform: capitalize; }
.footer-04 p {
    color: rgba(255, 255, 255, 0.3); }
.footer-04 a {
    color: #f7b633; }
.footer-04 .ftco-footer-social li a {
    color: #fff; }
.footer-04 .tagcloud a {
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #fff; }
.footer-04 .list-unstyled li a {
    color: rgba(255, 255, 255, 0.7); }
.footer-04 .list-unstyled a {
    color: rgba(255, 255, 255, 0.7); }
.footer-04 .ftco-footer-social li a {
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.1); }
.footer-04 .subscribe-form .form-group {
    position: relative;
    margin-bottom: 0;
    border-radius: 0; }
.footer-04 .subscribe-form .form-group input {
    background: rgba(255, 255, 255, 0.05) !important;
    border: none !important;
    outline: none !important;
    color: rgba(255, 255, 255, 0.3) !important;
    font-size: 16px;
    border-radius: 0; }
.footer-04 .subscribe-form .form-group input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.3) !important; }
.footer-04 .subscribe-form .form-group input::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.3) !important; }
.footer-04 .subscribe-form .form-group input:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(255, 255, 255, 0.3) !important; }
.footer-04 .subscribe-form .form-group input:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.3) !important; }
.footer-04 .subscribe-form .form-group input:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none; }
.footer-04 .subscribe-form .form-group .submit {
    color: #fff !important;
    display: block;
    width: 52px;
    height: 52px;
    font-size: 16px;
    background: #f7b633 !important;
    border: none;
    border-radius: 0; }
.footer-04 .subscribe-form .form-group .submit:hover, .footer-04 .subscribe-form .form-group .submit:focus {
    text-decoration: none !important;
    outline: none !important; }
.footer-04 .copyright a {
    color: rgba(255, 255, 255, 0.5); }

