<!DOCTYPE HTML>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{fragments/main}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Spoty Shoe E-Commerce WebApp::Error</title>
</head>

<body th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
    <div class="container" layout:fragment="content">

        <div class="notfound">
            <div class="notfound-404">
                <h1 th:text="${httpStatus}" class="text-center">404</h1>
            </div>
            <h2 th:text="${httpStatus.reasonPhrase}">Oops! Nothing was found</h2>
            <p ><span th:utext="${errorMessage}">The page you are looking for might have been removed had its name changed or is temporarily unavailable.</span> </p>
            <p> <a class="btn-outline-primary" href="" th:href="@{/index}">Return to homepage</a></p>
            <div class="notfound-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
            </div>
        </div>

    </div>
</body>
</html>

